.body-conhecimentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

#p-techs {
  font-size: 20px;
  padding-top: 20px;
}

#wrapper-techs {
  display: flex;
  justify-content: center;
  width: 80%;
  /* background-color: blueviolet; */
  height: 500px;
  flex-wrap: wrap;
  align-content: center;
}