* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color-body: #262632;
  --color-font: #f2e9e4;
  --background-color-bottom: #171825;
  --icon-profile-background: #f2e9e4;
  --icon-profile-font: var(--background-color-body);
}

.light-mode:root {
  --background-color-body: #f2e9e4;
  --color-font: #262632;
  --background-color-bottom: #b4b4b4;
  --icon-profile-background: var(--color-font);
  --icon-profile-font: var(--background-color-body);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-bottom);
  min-height: 100vh;
}

.body-page {
  background-color: var(--background-color-body);
  color: var(--color-font);
  height: 80vh;
  width: 95%;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.15);
}