#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#left-content {
  margin: 15vh 10vh;
  font-size: 20px;
  padding: 0;
}

#content {
  margin: 5vh 0vh;
}

#user-img {
  width: 40vh;
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
}

@media screen and (max-width: 880px) {
  #user-img {
    width: 30vh;
  }

  #left-content {
    margin: 5vh 5vh;
    font-size: 20px;
    padding: 0;
  }
}