input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 42px;
  float: right;
  border-radius: 100px;
  position: relative;
  background-color: #f2e9e4;
  background-image: url(./images/icon_sun.svg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: 14px;
}

label::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 5px;
  width: 28px;
  height: 28px;
  background-color: #262632;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+label {
  background-image: url(./images/icon_moon.svg);
  background-color: #262632;
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: 13px;
}

input:checked+label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background-color: #f2e9e4;
}

label:active:after {
  width: 70px;
}

#header {
  width: 95%;
  background-color: var(--background-color-body);
  font-weight: 700;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 20px 0px;
  box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.15);
  overflow: clip;
}

.nav-icon {
  margin-right: 20px;
  align-self: center;
  text-align: center;
  display: flex;
  max-height: 25px;
  text-wrap: nowrap;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-font);
}

#navbar {
  margin: 0px 40px;
  color: var(--color-font);
  display: flex;
  flex-wrap: nowrap;
}

#icons-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
  width: 150px;
}

#icons-header p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  background-color: var(--icon-profile-background);
  color: var(--icon-profile-font);
  height: 42px;
  width: 42px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
}

#nav-button {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  border-top: 3px solid;
  align-self: center;
  color: var(--color-font);
  transition: 0.3s;
  z-index: 1;
  margin-left: 25px;
}

#nav-button::after,
#nav-button::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: var(--color-font);
  margin-top: 7px;
  position: relative;
  transition: 0.3s;
  border-radius: 2px;
}

@media screen and (max-width: 880px) {
  #nav-button {
    display: block;
    border-radius: 2px;
    z-index: 4;
    /* background-color: red; */
  }

  #navbar {
    position: absolute;
    float: left;
    z-index: 3;
    width: 300px;
    flex-direction: column;
    align-self: flex-start;
    margin-top: -20px;
    margin-left: -325px;
    justify-self: flex-start;
    background-color: var(--background-menu);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100svh;
    padding-top: 70px;
    transition: all 0.3s ease;
  }

  #navbar.active {
    box-shadow: 150px 0px 150px rgba(0, 0, 0, 0.35);
    margin-left: -25px;
    transition: all 0.3s ease;
    padding-top: 70px;
  }

  .nav-icon {
    margin-top: 30px;
  }
}
